include LICENSE
include README.md
recursive-include docs *
recursive-include nimba/templates *
recursive-include nimba/staticfiles *
recursive-include scripts *
recursive-include examples *
recursive-include tests *